.sudoku-notes-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.note-block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #4a4a4a; /* Default note color */
}

.sudoku-notes-row {
  display: flex;
  justify-content: space-around;
}

.note-block.bg-blue-100 {
  background-color: black;  /* Light turquoise note color */
  padding: 2px;
}

.note-block.bg-blue-200 {
  background-color: black;  /* Lightest turquoise */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 18px;
}

/* Style for selected cells */
.cell.selected {
  background-color: #7FCFA8;  /* Slightly darker shade of green */
}

.cell.primary-selected {
  background-color: #558B71;  /* Dark green color for primary selection */
  color: black;
  font-weight: bold;
}

/* Styling for regular cells */
input[type="text"] {
  border-radius: 8px;
  box-sizing: border-box;
}

/* Hover effect for cells */
input[type="text"]:hover {
  background-color: #BFFFED;  /* Lighter background when hovering over cells */
}

input[type="text"]:focus {
  outline: none;
  border-color: #558B71;  /* Focus effect with darker green border */
}

/* Styling for non-filled cells */
input[type="text"]:empty {
  background-color: #F0F0F0;  /* Light gray background for empty cells */
}
